{% extends "base.html" %}
{% block heading %}{{ 'Overdue receivables' if overdue_only else 'Outstanding receivables' }}{% endblock %}
{% block content %}
<div class="card"><table>
<tr><th>Customer</th><th>Invoice</th><th>Due</th><th>Days</th><th class="num">Outstanding</th></tr>
{% for r in rows %}
<tr><td>{{ r.customer }}</td><td>{{ r.invoice_no }}</td><td>{{ r.due_date|dmy }}</td><td>{{ r.days }}</td><td class="num">{{ r.outstanding|money }}</td></tr>
{% endfor %}
<tr><th colspan="4">Total</th><th class="num">{{ totals.total|money }}</th></tr>
</table></div>
{% endblock %}
